<form method="get"
      hx-get="{% url 'search_panel' %}"
      hx-trigger="keyup changed delay:400ms, change, submit"
      hx-target="#results"
      hx-select="#results"
      hx-swap="outerHTML"
      hx-push-url="true">
    <div class="search-panel-form">
        <div class="search-fields">
            {{ form.name }}
            {{ form.category }}
        </div>
    </div>
    {% comment %} <button type="submit">ПОШУК</button> {% endcomment %}
</form>

{% include "searchpanel/_result.html" %}