<form method="get"
      hx-get="{% url 'search_panel' %}"
      hx-trigger="keyup changed delay:400ms, change, submit"
      hx-target="#results"
      hx-select="#results"
      hx-swap="outerHTML"
      hx-push-url="true">
    <class="search-panel-form">
    <div class="search-fields">
        <div class="search-field">
            {{ form.name }}
        </div>
        <div class="search-field">
            {{ form.category }}
        </div>
    </div>
    <button type="submit">ПОШУК</button>
</form>

{% include "searchpanel/_result.html" %}